.hg{
    /* margin: auto; */
    margin-top: 30%;
    color: white;
    color: #2a2a2a;
}
h1{
    /* margin-top: 100px; */
    text-align: center;
    
}
.hero{
    margin-top: -90px;
}
.ddd{
    margin-top: 5px;

}


